@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.main-layout {
  height: 100%;
  @include flex-column;
  background: $color-background;
  position: relative;
  overflow: hidden;

  &__content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
  }
}
