<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHMRA7sm1I5Dhqvpff2PmT8fi0kOYfjVk</string>
	<key>GCM_SENDER_ID</key>
	<string>250681147173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pilates.room</string>
	<key>PROJECT_ID</key>
	<string>pilates-182dc</string>
	<key>STORAGE_BUCKET</key>
	<string>pilates-182dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250681147173:ios:c78343857e22cfbdaaa4cc</string>
</dict>
</plist>